<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary" th:fragment="menu">
  <ul class="nav gap-5">
    <li ><a class="navbar-brand text-white ms-4" href="/">MyIkea</a></li>
    <li><a class="nav-item text-white text-decoration-none" href="/productos">Muebles</a></li>
    <li><a class="nav-item text-white text-decoration-none" href="/pedidos">Pedidos</a></li>
    <li><a class="nav-item text-white text-decoration-none" href="/carrito">Carrito</a></li>
    <li><a class="nav-item text-white text-decoration-none" href="/usuarios">Usuarios</a></li>
  </ul>
  <div class="d-flex justify-content-end position-absolute top-0 end-0 me-4">
    <span class="text-light align-self-center">&lt;Username></span>
    <form th:action="@{/logout}" method="post">
      <input class="btn btn-outline-light text-light m-1" type="submit" value="Logout">
    </form>
  </div>
</nav>
</body>
</html>